img { 
   vertical-align: center; 

}


h2 { 
   position: center; 
   top: 200px; 
   left: 0; 
   width: 100%;
	text-align: center;
}

.hr {
	position: center;
	height: 2px;
	width: 15%;
	margin:0 auto; 
    background: #a8a8a8;
    
}

p.h4{
	text-align: center;
	color: #01C5BB;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif; 
}

.lightgraycontainer{
	background-color: #f6f6f6;
}
	

.imageAndText {
	position: relative;
} 
.imageAndText .col {
	position: absolute; 
	bottom: 0; 
}

p {
	font-size: 18px;
	font-family: 'Dosis', sans-serif; 
	color:gray;
}

div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.boldFonts{
	font-weight: bold;
}

.centralizedTexts{
	text-align: center;
}