img { 
   margin-left: auto;
   margin-right: auto ;
   display: block;
   size: 100%

}


.hr {
	position: center;
	height: 2px;
	width: 15%;
	margin:10 auto; 
    background: #a8a8a8;
    
}

p.h4{
	text-align: center;
	color: #01C5BB;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif; 
}


.lightgraycontainer{
	background-color: #f6f6f6;
}
	

.imageAndText {
	position: relative;
} 
.imageAndText .col {
	position: absolute; 
	bottom: 30px; 
	right: 0;
	left: 0;
}

p {
	font-size: 18px;
	font-family: 'Dosis', sans-serif; 
	color:gray;
}

div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.boldFonts{
	font-weight: bold;
}

.centralizedTexts{
	text-align: center;
}

.imgBottomMargin{
	margin-bottom: 20px;
}

.imgTopMargin{
	margin-top: 20px;
}

.differentColor{
	color:#01C5BB;
}

.whiteFont{
	color: #FFF;
	font-size: 50px;
}